<nav class="ui big inverted stackable menu menu-principal color-menu">
    <a {% if usuario_logado %}href="{{ base_url()|raw }}Timeline/postagem"{% else %}href="{{ base_url()|raw }}"{% endif %} class="item">
        <i class="home icon"></i>
    </a>
    <div class="right stackable menu">
        
        {% if usuario_logado %}
            <a class="item" href="{{ base_url()|raw }}Timeline/postagem">
                <i class="newspaper icon"></i>
                Timeline
            </a>
            <a class="item" href="{{ base_url()|raw }}Grupo/postagemGrupo">
                <i class="group icon"></i>
                Grupo
            </a>
            <div class="ui pointing dropdown link item">
                <div class="text"><img class="ui avatar image" src="{{ file_name|raw }}">{{ username }}</div>
                <i class="dropdown icon"></i>

                <div class="menu">
                    <a href="{{ base_url()|raw }}Usuario/perfil" class="item ">
                        <i class="user icon"></i>
                        Perfil
                    </a>
                    {% if usuario_logado['id_tipo_usuario'] == 2%}
                        <a class="item" href="{{ base_url()|raw }}Administrador/painel">
                            <i class="address book outline icon"></i>
                            Painel Administrativo
                        </a>
                    {% endif %}
                    <a href="{{ base_url()|raw }}Usuario/logout" class="item">
                        <i class="sign in icon"></i>
                        Sair
                    </a>
                </div>
            </div>
            {#<a href="{{ base_url()|raw }}Usuario/perfil" class="item ">#}
                {#Perfil#}
            {#</a>#}
            {#<a href="{{ base_url()|raw }}Usuario/logout" class="item">#}
                {#<i class="sign in icon"></i>#}
                {#Sair#}
            {#</a>#}
        {% else %}
            <a href="{{ base_url()|raw }}PortalEgresso/cadastro" class="item ">
                Cadastre-se
            </a>
            <a href="{{ base_url()|raw }}" class="item ">
                <i class="sign in icon"></i>
                Entrar
            </a>
        {% endif %}
    </div>



</nav>
